<html>
	<head>
		<meta charset="utf-8" />
		<title>Přepisy kázání Akademické farnosti Praha</title>
		<meta
			name="description"
			content="Automatické přepisy kázání z Akademické farnosti Praha pomocí OpenAI Whisper a ChatGPT."
		/>
		<meta name="keywords" content="halík,hruška,orko,vácha,prívara,salvátor" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		{{{body}}}
	</body>
</html>